body {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	/*max-width: 1440px;*/
	margin: 0;
	font-weight: 400;

}

h1, h2 {
	font-family: 'Poppins', sans-serif;
}

/*HEADER*/

header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 43.75rem;
	background-color: #EBFBFF;
	background-image: url('./images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#header-container {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
}

#try-it-free {
	background-color: #FFF!important;
}


/*MAIN*/


main {
	position:relative;
	padding: auto 3rem;
	padding-top: 5rem;
	min-height: 100vh;
}

/*#adv-info {
	width: 35%;
}
*/
.mockups-container {
	flex: 0 0 55%;
}

#get-started {
	background-color: #FF52BF!important;
	color: #FFF!important;
}

ul {
	margin: 10rem 0!important;
}


/*.build-community {
	display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    box-shadow: 1px 1px 3px 0;
    width: max-content;
    padding: 50px;
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}*/

/*FOOTER*/

footer {
	position: absolute;
	/*bottom: 0;*/
	width:100%;
	/*height: 18.75rem;*/
	background-color: rgb(0, 37, 46);
	color: #FFF;	
}


.footer-logo > img {
	filter: invert(100%);
}

#icons {
	font-size:1.3rem;
}

/*.footer-top {
	padding: 155px 50px 50px 50px;
}


.footer-container {
	margin-top: 2rem;
    display: flex;
}

.contact-info-container {
    width: min-content;
    flex: 1;
}

.categories {
	display: flex;
    justify-content: space-evenly;
    flex: 1;	
}

.first-col-categories, .sec-col-categories {
	line-height: 2;
}

footer {
	font-size: 0.8rem;
	float: right;
}

footer > p {
	margin: 12px;
}

.location > p,
.phone-num > p,
.email > p {
	margin-left: 20px;
}
*/